.header_box{
    background-color: #c7b198 !important; /* 도토리 느낌 살짝 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* 기본 높이 */
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

#header-clock{
    font-family: 'NanumBarunGothicBold';
    font-weight:400;
    font-size: 30px;
    color: rgb(75, 54, 33);
}


.home_btn a {
  display: flex;
  align-items: center;
  height: 60px; /* 헤더 높이에 맞춤 */
  text-decoration: none;
  font-family: 'NanumBarunGothicBold';
  font-size: 30px;
}

/* 이미지 크기 맞추기 */
.logo-img {
    height: 100%; /* 부모 높이 60px 에 맞춤 */
    width: auto; /* 가로 비율 유지 */
    display: block;
    margin-right: 8px; /* 이미지와 텍스트 간격 */
}

.home_btn span {
  font-family: 'NanumBarunGothicBold';
  color: rgb(75, 54, 33);
  font-weight: 700;
  font-size: 30px; /* 글자 크기 헤더에 맞게 */
}