<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/.thymeleaf/layout">

<div th:fragment="header">
    <!-- 헤더 -->
    <header>
        <div class="header_box">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <!-- 홈버튼 -->
                <div class="home_btn">
                    <a href="/" class="home">
                        <img src="/images/도토리플래너_투명.png" alt="도토리 플래너 로고" class="logo-img">
                        <span><strong>도토리 플래너</strong></span>
                    </a>
                </div>

                <!-- 메뉴 단축버튼 -->
                <div class="mobile-menu-icon">
                    <button id="menu-toggle" style="background:none; border:none; font-size:24px;">
                        &#9776;
                    </button>
                </div>

                <!-- 시계 -->
                <div id="header-clock">
                    <span id="current-date"></span>
                    <span id="current-time"></span>
                </div>

                <!-- 예산정보 -->
                <div class="d-flex gap-3">
                    <div>
                        <span>4월 예산: 2,500,000 </span>
                    </div>
                    <div>
                        <span>일일 예산: 20,000 </span>
                    </div>
                </div>

                <!-- 로그인 회원가입 -->
                <div class="d-flex gap-3 header-auth">
                    <div class="home_btn">
                        <a href="#"><span><strong>로그인</strong></span></a>
                    </div>
                    <div class="home_btn">
                        <a href="#"><span><strong>회원가입</strong></span></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>