<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/.thymeleaf/layout">

<div th:fragment="header">
    <!-- 헤더 -->
    <header>
        <div class="header_box">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <div class="left-bar d-flex">
                    <!-- 메뉴 단축버튼 -->
                    <div class="mobile-menu-icon">
                        <button class="menu-toggle" onclick="side_menu()">
                            <img src="/images/메뉴단축바이미지.png" alt="도토리 플래너 로고" class="menu-img">
                        </button>
                    </div>

                    <!-- 홈버튼 -->
                    <div class="home_btn">
                        <a href="/" class="home">
                            <img src="/images/도토리플래너_투명.png" alt="도토리 플래너 로고" class="logo-img">
                            <span><strong>도토리 플래너</strong></span>
                        </a>
                    </div>
                </div>

                <!-- 홈버튼 모바일 -->
                <div class="home_btn_mobile">
                    <a href="/" class="home">
                        <span><strong>도토리 플래너</strong></span>
                    </a>
                </div>

                <!-- 시계 -->
                <div id="header-clock">
                    <span id="current-date"></span>
                    <span id="current-time"></span>
                </div>

                <!-- 예산정보 -->
                <div class="header-budget gap-3">
                    <div>
                        <span>4월 예산: 2,500,000 </span>
                    </div>
                    <div>
                        <span>일일 예산: 20,000 </span>
                    </div>
                </div>


                <div class="header-auth">
                    <!-- 로그인 여부 체크 -->
                    <div class="profile-container" th:if="${#authorization.expression('isAuthenticated()')}">
                        <span class="user-name me-3" th:text="${#authentication.principal.name + ' 님 환영합니다!'}"></span>
                        <img th:src="${#authentication.principal.profileImg}" alt="프로필" class="profile-image" onclick="toggleProfileModal()">
                    </div>

                    <!-- 비로그인 상태 -->
                    <div class="login" th:if="${#authorization.expression('!isAuthenticated()')}">
                        <a href="/login"><span><strong>로그인</strong></span></a>
                    </div>
                </div>

                <!-- 모달 -->
                <div id="profileModal" class="profile-modal" th:if="${#authorization.expression('isAuthenticated()')}">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="close-btn" onclick="toggleProfileModal()">&#215;</button> <!-- 같은 효과 -->
                    </div>
                    <div class="modal-header">
                        <img th:src="${#authentication.principal.profileImg}" alt="프로필" class="modal-profile-image">
                    </div>
                    <div class="modal-body">
                        <h3 th:text="${#authentication.principal.name + '님'}"></h3>
                        <p th:text="${#authentication.principal.email}"></p>
                    </div>
                    <div class="modal-buttons-inline">
                        <a href="/mypage" class="brown-button-inline">마이페이지</a>
                        <a href="/logout" class="brown-button-inline">로그아웃</a>
                    </div>
                </div>

            </div>
        </div>

        <!-- toggle 사이드바 -->
        <div class="side-bar-hidden">
            <div class="menu_side_bar">
                <h5 style="font-family: 'NanumBarunGothicBold';">Planner</h5>
                <hr>
                <ul class="planner_menu">
                    <li><a href="/budget/month/main">월간 예산 관리</a></li>
                    <li><a href="#">고정 지출 관리</a></li>
                    <li><a href="#">일일 예산 관리</a></li>
                    <li><a href="#">소비 패턴 분석</a></li>
                </ul>
            </div>
            <br><br>
            <div class="menu_side_bar">
                <h5 style="font-family: 'NanumBarunGothicBold';">Dotori</h5>
                <hr>
                <ul class="planner_menu">
                    <li><a href="#">내 도토리</a></li>
                    <li><a href="#">도토리 랭킹</a></li>
                    <li><a href="#">도토리 상점</a></li>
                    <li><a href="#">도토리 가이드</a></li>
                </ul>
            </div>
            <br><br>
            <div class="menu_side_bar">
                <h5 style="font-family: 'NanumBarunGothicBold';">Service</h5>
                <hr>
                <ul class="planner_menu">
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">Q&A</a></li>
                    <li><a href="#">고객센터</a></li>
                    <li><a href="#">피드백 보내기</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보 처리방침</a></li>
                </ul>
            </div>
        </div>
    </header>
</div>