<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/.thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>도토리 플래너</title>

    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="bs/css/styles.css" th:href="@{/bs/css/styles.css}" rel="stylesheet"/>

    <!-- 폰트 -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">

    <!-- 내부 스타일 css -->
    <link href="/main/css/main.css"
          th:href="@{/main/css/main.css}" rel="stylesheet"/>

    <!-- 내부 JS -->
    <script th:src="@{main/js/main.js}" defer></script>

</head>
<body>
<div layout:fragment="content">
    <!-- 첫번째 섹션 -->
    <div class="main">
        <div class="main_wrap w-75 mx-auto">
            <div class="text_box">
                <div class="logo_text">
                    <h2><span class="logo_main_font"><strong>도토리 플래너</strong></span>와 함께</h2><br>
                    <h2>작은 절약이 쌓이는 기쁨을 느껴보세요.</h2>
                    <br>
                    <br>
                    <button class="main_btn mt-3" onclick="location.href='/login'">로그인하고 시작하기</button>
                </div>
            </div>
            <div class="img_box">
                <img class="dotori_img" src="/images/도토리플래너.jpg" alt="도토리 로고"/>
            </div>
        </div>
    </div>

    <!-- 두번째 섹션 -->
    <div class="main2">
        <div class="main_wrap w-75 mx-auto">
            <div class="img_box">
                <img class="dotori_img2" src="/images/월간예산이미지.jpg" alt="도토리 로고"/>
            </div>
            <div class="text_box">
                <div class="logo_text2">
                    <h2>💡 월간 예산 계획</h2>
                    <p>한 달 예산을 설정하고, 일별 예산을 자동으로 관리해보세요!</p>
                    <p>당신의 소중한 한 달, 도토리와 함께 계획해요</p>
                    <br>
                    <br>
                    <button class="btn">예산 일정 짜기</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 세번째 섹션 -->
    <div class="main3">
        <div class="main_wrap w-75 mx-auto">
            <div class="text_box">
                    <div class="box3 mt-5">
                        <h3><span class="logo_main_font2"><strong>매달 반복되는 <br> 고정지출 관리</strong></span></h3>
                        <br>
                        <p>월세,통신비,구독 서비스 등</p>
                        <p>매달 반복되는 지출을 한번만 등록하면</p>
                        <p>매달 자동으로 반영돼요</p>
                    </div>
                    <div class="box3 mt-5">
                        <h3><span class="logo_main_font2"><strong>예상 못 한 지출,<br>걱정 마세요</strong></span></h3>
                        <br>
                        <p>갑작스런 외식이나 병원비도 기록만 하면</p>
                        <p>남은 예산이 자동으로 재계산 돼요</p>
                    </div>
            </div>
            <div class="img_box">
                <img class="dotori_img" src="/images/돌발고정지출이미지.png" alt="도토리 로고"/>
            </div>
        </div>
    </div>

    <!-- 네번째 섹션 -->
    <div class="main4">
        <div class="main_wrap w-75 mx-auto">
            <div class="text_box">
                <div class="box3">
                    <h3><span class="logo_main_font2"><strong>당신의 소비,<br>
                        그래프로 정리해드려요</strong></span></h3>
                    <br>
                    <p>카테고리별로 분석된 지출 데이터를 확인하고,</p>
                    <p>식비,쇼핑,고정지출 등 한눈에 파악되는 그래프!</p>
                    <p>내 소비 습관을 똑똑하게 관리해보세요.</p>
                </div>
            </div>
            <div class="img_box">
                <img class="dotori_img" src="/images/소비패턴분석.png" alt="도토리 로고"/>
            </div>

        </div>
    </div>

    <!-- 다섯번째 섹션 -->
    <div class="main5">
        <div class="main_wrap w-75 mx-auto">
            <div class="img_box">
                <img class="dotori_img2" src="/images/도토리멤버쉽이미지.png" alt="도토리 로고"/>
            </div>
            <div class="text_box">
                <div class="logo_text2">
                    <h2><span class="logo_main_font2"><strong>도토리로 보상받는<br> 당신의 절약 습관</strong></span></h2><br>
                    <p>예산을 지키거나 초과 절약하면 도토리 포인트가 쌓여요</p>
                    <p>쌓인 도토리는 다양한 기능에 사용할 수 있어요!</p><br><br>
                    <button class="main_btn mt-3">도토리 기능 보기</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
