<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/.thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <title>도토리 플래너</title>

  <!-- 부트스트랩 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="bs/css/styles.css" th:href="@{/bs/css/styles.css}" rel="stylesheet"/>

  <!-- 폰트 -->
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">

  <!-- 내부 스타일 css -->
  <link href="/main/css/main.css"
        th:href="@{/main/css/main.css}" rel="stylesheet"/>

  <!-- 내부 JS -->
  <script th:src="@{budget/js/budgetmain.js}" defer></script>

  <!-- 해당 페이지에서 쓸 css -->
  <style layout:fragment="mystyle"  th:inline="css">

  </style>

  <!-- 해당 페이지에서 쓸 js -->
  <script layout:fragment="myscript" th:inline="javascript">

  </script>
</head>
<body>
<div layout:fragment="content">
  <div id="calendar"></div>

</div>
</body>
</html>

